body {
  margin: 0;
  padding: 0;
}

a, p {
  font-family: Elza;
}

@font-face {
  font-family: "MyraBold";
  font-style: bold;
  src: local("MyraBold"), url(./assets/MyraBold.ttf) format("truetype");
}

@font-face {
  font-family: "CodeNextBold";
  font-style: bold;
  src: local("CodeNextBold"), url(./assets/CodeNextBold.ttf) format("truetype");
}
@font-face {
  font-family: "Elza";
  font-style: normal;
  src: local("Elza"), url(./assets/Elza.ttf) format("truetype");
}
